<ion-view view-title="Notificar clientes">
    <ion-content>
        <div class="list">
            <ion-item class="item item-input item-floating-label">
                <span class="input-label">Título</span>
                <input type="text" placeholder="Título" ng-model="notificacion.title">
            </ion-item>
            <ion-item class="item item-input item-floating-label">
                <span class="input-label">Contenido</span>
                <textarea placeholder="Contenido a enviar..." ng-model="notificacion.body"></textarea>
            </ion-item>
            <ion-item class="item">
                <button class="button button-block button-positive" ng-click="notificar()">Confirmar</button>
            </ion-item>
        </div>
    </ion-content>
</ion-view>