﻿<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title="center">
            <ion-nav-back-button class="button-clear" side="right">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <!--<ion-nav-buttons side="right">-->
                <!--<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>-->
            <!--</ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <div class="menu-bottom">
                <div class="list">
                    <div class="item item-avatar-right item-transparent">
                        <img ng-src="{{user.imagen}}" width="25"  height="25" class="circle" style="background-color: white;">
                        <div class="pull-right">{{user.nick}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list class="list">
                <ion-item nav-clear menu-close ui-sref="app.home" class="item-icon-left">
                    <i class="icon ion-trophy"></i>
                    Evento
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.novedades" class="item-icon-left">
                    <i class="icon ion-ios-paper-outline"></i>
                    Novedades
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.encuentros" class="item-icon-left">
                    <i class="icon ion-ios-basketball-outline"></i>
                    Encuentros
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.notificar" class="item-icon-left">
                    <i class="icon ion-android-notifications-none"></i>
                    Notificaciones
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="main" class="item-icon-left">
                    <i class="icon ion-android-arrow-back"></i>
                    Volver
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()" class="item item-icon-left">
                    <i class="icon ion-log-out"></i>
                    Salir
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
