<ion-view id="altaEvento" view-title="Alta de Evento" class="blank-background">
    <ion-header-bar class="bar bar-header bar-positive" align-title="center">
        <h1 class="title">Alta de Evento</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="altaEvento()">
            <div class="list">
                <!-- Nombre -->
                <div class="item item-divider">Nombre del Evento</div>
                <label class="item item-input">
                    <input type="text" ng-model="evento.nombre" placeholder="Nombre" ng-required="true">
                </label>
                <!-- FDesde -->
                <div class="item item-divider">Fecha desde</div>
                <label class="item item-input ">
                    <input type="datetime-local"  ng-model="evento.fechaDesde" placeholder="Fecha Desde" ng-required="true">
                </label>
                <div class="item item-divider">Fecha hasta</div>
                <!-- FHasta -->
                <label class="item item-input ">
                    <input type="datetime-local"  ng-model="evento.fechaHasta" placeholder="Fecha Hasta" ng-required="true">
                </label>
                <div class="item item-divider">País</div>
                <label class="item item-input item-stacked-label">
                    <ion-select items="paises" ng-model="evento.pais" placeholder="Seleccione.."/>
                </label>
                <div class="item item-divider">Disciplinas</div>
                <label class="item item-input item-icon-right">
                    <label href="" ng-click="addDisciplina(disciplina)" style="margin-right: 1.5em;"><i class="icon ion-plus positive padding-right"></i></label>
                    <input id="disciplina-input" type="text" ng-model="disciplina" placeholder="Agregar...">
                </label>
                <div class="list padding-left padding-top col-60 " ng-show="disciplinas.length && disciplinas.length > 0">
                    <div class="item" ng-repeat="disc in disciplinas">
                        {{disc}}
                    </div>
                </div>
                <div class="item item-divider">Imágenes</div>
                <div class="item item-button-right">
                    Seleccione imágenes del Evento
                    <label class="button button-positive">
                        <input type="file" style="display: none;" ng-file-model="imagenes.result" multiple ng-required="true" /><i class="icon ion-upload"></i>
                    </label>
                </div>
                <div class="item" ng-if="imagenes.result.length > 0">
                    <div class="list list-inset">
                        <div class="item item-avatar col-60 no-border" ng-repeat="img in imagenes.result">
                            <img ng-src="{{img.data}}">
                            <h2>{{img.name}}</h2>
                            <p>{{(img.size / 1024) | number: 2 }} &nbsp KB</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="button button-positive ssem-button">Confirmar</button>
            </div>
        </form>
    </ion-content>
</ion-view>