<ion-view view-title="SSEM Backoffice" title>
    <ion-content>
        <ion-list class="list card">
            <ion-item class="item item-avatar">
                <img src="img/material3.jpg">
                <h2>{{evento.nombre}}</h2>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item item-body item-icon-left">
                <p>
                    <b>Número de evento: </b> &nbsp; {{evento.idEvento}}
                </p>
                <p>
                    <b>Fecha inicio:</b> &nbsp; {{fechaDesde | date:dateTimeFormat }}
                </p>
                <p>
                    <b>Fecha fin:</b> &nbsp; {{fechaHasta | date:dateTimeFormat }}
                </p>
            </ion-item>
            <ion-item class="item" ng-if="evento.descripcion">
                <p><b>Descripcion:</b> </p>
                <p>{{evento.descripcion}}</p>
            </ion-item>
            <ion-item class="item item-divider" ng-if="evento.origenes && evento.origenes.length > 0">
                <b>Redes Sociales</b>
            </ion-item>
            <ion-item class="item item-borderless" ng-repeat="origen in evento.origenes">
                <span class="bold" style="text-transform: capitalize">{{origen.tipoOrigen}}:</span> &nbsp; <span>{{origen.urlApi}}</span>
            </ion-item>
            <ion-item class="item item-stable" ng-click="toggleGroup()" ng-class="{active: mostrarDisciplinas}">
                <i class="icon" ng-class="mostrarDisciplinas  ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;Disciplinas
            </ion-item>
            <div class="box-disciplinas" ng-if="mostrarDisciplinas">
                <div class="item item-accordion" ng-repeat="disciplina in evento.disciplinas track by $index" ng-show="mostrarDisciplinas">
                    {{disciplina}}
                </div>
            </div>
        </ion-list>
        <div class="card" ng-if="evento.imagenes && evento.imagenes.length > 0">
            <ion-item class="item possitive">
                Imagenes
            </ion-item>
            <div class="row responsive-md">
                <div class="col col-10" ng-repeat="image in evento.imagenes">
                    <img ng-src="{{image}}" width="100%" height="150">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>