<ion-view id="main" view-title="SSEM Backoffice">
    <ion-header-bar class="bar bar-header bar-positive" align-title="center">
        <h1 class="title">Mis Eventos</h1>
        <div class="left-buttons">
            <button class="button button-positive no-border" ng-click="doLogout()"><i class="ion-android-arrow-back"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card" ng-if="tieneEventos === false" ng-cloak>
            <div class="item text-center assertive">No tienes eventos</div>
        </div>
        <div class="card animated bounceInRight" ng-cloak>
            <ion-item class="item item-divider">Listado
            </ion-item>
            <a nav-clear class="item item-icon-left" ng-repeat="evento in eventos track by evento.idEvento" on-tap="goToEvento(evento)">
                <i class="icon ion-trophy padding-left energized"></i>
                <div class="text-list-eventos">{{evento.nombre}}</div>
            </a>
        </div>
    </ion-content>
</ion-view>