<ion-view id="login" view-title="Login" class="blank-background">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-buttons side="right">
              <button class="button button-icon button-clear" id="menu-popover" ng-click="popOver.show()"><i class="ion-wrench"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <form ng-submit="login()" class="m-top-20">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email o Nick</span>
                    <input type="text" ng-model="user.userName" placeholder="Email o Nick">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password" placeholder="Password">
                </label>
            </div>
            <div clas="row">
                <div class="col-offset-25 col-50 col-offset-25" style="margin-top: 5%;">
                    <button class="button button-block button-positive" type="submit">
                        Login
                    </button>
                </div>
            </div>
            <p class="text-center m-top-10" ui-sref="registrar">
                <a class="" type="button">
                    Registrarse
                </a>
            </p>
        </form>
    </ion-content>
</ion-view>