<ion-view id="registrar" view-title="Registrar Organizador">
    <ion-nav-bar class="bar-positive">
        <ion-nav-bar class="bar-positive" align-title="center">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> </ion-nav-back-button>
        </ion-nav-bar>
    </ion-nav-bar>
    <ion-content>
            <form ng-submit="confirmar()">
                <div class="list">
                    <!-- Email -->
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Correo Electrónico</span>
                        <input type="email" ng-model="request.email" placeholder="Correo Electrónico" ng-required="true">
                    </label>
                    <!-- Nick -->
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nick</span>
                        <input type="text" ng-model="request.nick" placeholder="Nick" ng-required="true">
                    </label>
                    <!-- Nombre -->
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nombre</span>
                        <input type="text" ng-model="request.nombre" placeholder="Nombre" ng-required="true">
                    </label>
                    <!-- Apellido -->
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Apellido</span>
                        <input type="text" ng-model="request.apellido" placeholder="Apellido" ng-required="true">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Teléfono</span>
                        <input type="number" step="any"  ng-model="request.telefono" placeholder="Teléfono" ng-required="true">
                    </label>
                    <!-- Fnac -->
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Fecha de Nacimiento</span>
                        <input type="text" onfocus="this.type='date'; this.focus;" ng-model="request.fechaNac" placeholder="Fecha de Nacimiento" ng-required="true">
                    </label>
                    <!-- Pais -->
                    <div class="item item-divider">País</div>
                    <label class="item item-input item-stacked-label">
                        <ion-select label-field="nombre" items="paises" ng-model="request.pais" placeholder="Seleccione Pais.."/>
                    </label>
                    <!-- Password -->
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Contraseña</span>
                        <input type="password" ng-model="request.password" placeholder="Contraseña" ng-required="true">
                    </label>
                    <div class="item item-divider">Ávatar</div>
                    <div class="item item-button-right">
                        Seleccione imágen
                        <label class="button button-calm-900">
                            <input type="file" style="display: none;" accept="image/*" ng-file-model="imagen.result" /><i class="icon ion-upload"></i>
                        </label>
                    </div>
                </div>
                <div class="item item-thumbnail-left" ng-show="imagen.result.name != undefined" href="#">
                    <img ng-src="{{imagen.result.data}}">
                    <h2>{{imagen.result.name}}</h2>
                    <p>{{ (imagen.result.size / 1024) | number: 2 }} &nbsp KB</p>
                </div>
                <div class="text-center">
                    <button type="submit" class="button button-positive ssem-button">
                        Confirmar
                    </button>
                </div>
            </form>
    </ion-content>
</ion-view>