<div class="selectContainer">
    <div class="item-input">
        <i class="ion-search placeholder-icon"></i>
        <input id="filter" type="search" ng-model="ngModel" ng-value="ngValue" ng-keyUp="onKeyUp()" placeholder="{{placeholder}}"/>
        <label id="wrapper" ng-click="openList()">
            <button type="button" class="button button-small button-clear"  style="margin-right:2.0em;">
                <i class="icon ion-chevron-down"></i>
            </button>
        </label>
    </div>
    <div class="optionList padding-left padding-right" ng-show="showHide">
        <ion-scroll style="max-height:50vh;">
            <ul class="list" ng-if="isObject === true">
                <li class="item" ng-click="selecionar(item)" ng-repeat="item in items | filter:ngModel">
                    {{item[labelField]}}
                </li>
            </ul>
            <ul class="list" ng-if="isObject === false">
                <li class="item" ng-click="selecionar(item)" ng-repeat="item in items | filter:ngModel">
                    {{item}}
                </li>
            </ul>
        </ion-scroll>
    </div>
</div>