<ion-view view-title="Cargar Resultados">
    <ion-content>
        <div class="row">
            <div class="card col-90">
                <div class="item positive">
                    <i class="ion-information-circled"></i>&nbsp; Seleccione modalidad
                </div>
                <ion-item class="item item-checkbox">
                    Por posiciones
                    <label class="checkbox checkbox-dark">
                        <input type="checkbox" ng-checked="checkPosicion" ng-click="doCheckPosicion()" >
                    </label>
                </ion-item>
                <ion-item class="item item-checkbox">
                    Por puntajes
                    <label class="checkbox checkbox-dark">
                        <input type="checkbox" ng-checked="checkPuntaje" ng-click="doCheckPuntaje()">
                    </label>
                </ion-item>
            </div>
        </div>
        <div class="row ssem-equipos" ng-if="checkPosicion == true">
            <div class="card col-90">
                <div class="item positive">
                    <i class="ion-information-circled"></i>&nbsp; Ordene de ganador a perdedor.
                </div>
                <div class="card-item" style="padding-bottom: 3em;">
                    <ul class="card col-offset-10 col-80" data-tap-disabled="true">
                        <li class="item item-icon-right item-avatar-left ssem-item-resultado" ng-drag="true" ng-drag-data="obj" ng-repeat="obj in resultados" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                            <img ng-src="img/Team.jpg">
                            <div>
                                <i class="icon ion-trophy ssem-copa" ng-if="$index == 0"></i>
                                <i class="icon ion-arrow-up-a" ng-click="moveUp($index, $data)" ng-if="$index != 0"></i>
                                {{obj.equipo.nombre}}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="item text-center">
                    <button type="submit" class="button button-block button-positive" ng-click="altaResultados()">Confirmar</button>
                </div>
            </div>
        </div>
        <div class="row ssem-equipos" ng-if="checkPuntaje == true">
            <ion-list class="card col-90">
                <div class="item positive">
                    <i class="ion-information-circled"></i>&nbsp; Asigne los puntajes
                </div>
                <ion-item class="item">
                    <div class="item" ng-repeat="obj in resultados | orderBy: obj.puntaje">
                        <div class="item item-input-inset" style="border: none;">
                            <label class="input-label">{{$index+1}}&nbsp; - &nbsp;{{obj.equipo.nombre}}</label>
                            <label class="item-input-wrapper fade-input">
                                <input type="number" min="0" placeholder="0" class="pull-right"
                                       ng-model="obj.puntaje">
                            </label>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item">
                    <button class="button button-block button-positive" ng-click="altaResultados()">Confirmar</button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>

</ion-view>