<ion-view view-title="Encuentro">
    <ion-pane>
        <ion-tabs class="tabs-light tabs-icon-top">
            <ion-tab title="Detalle" icon-on="ion-android-list" icon-off="ion-android-list">
                <ion-nav-view>
                    <ion-content class="animated bounceInRight">
                        <ion-list class="card" ng-cloak>
                            <ion-item class="item item-dark">
                                Datos
                            </ion-item>
                            <ion-item class="item item-input">
                                <span class="input-label bold">Nombre:</span>
                                <input type="text" class="deshabilitado" ng-value="encuentro.nombre" ng-disabled="true"
                                       style="font-size: 1em;">
                            </ion-item>
                            <ion-item class="item item-input">
                                <span class="input-label bold">Fecha:</span>
                                <input type="text" class="deshabilitado"
                                       ng-value="encuentro.fecha | date: dateTimeFormat"
                                       ng-disabled="true" style="font-size: 1em;">
                            </ion-item>
                            <ion-item class="item item-input">
                                <span class="input-label bold">Fecha Fin:</span>
                                <input type="text" class="deshabilitado"
                                       ng-value="encuentro.fechafin | date: dateTimeFormat"
                                       ng-disabled="true" style="font-size: 1em;">
                            </ion-item>
                            <ion-item class="item item-input" ng-if="encuentro.disciplina">
                                <span class="input-label bold">Disciplina:</span>
                                <input type="text" class="deshabilitado" ng-value="encuentro.disciplina.nombre" ng-disabled="true" style="font-size: 1em;">
                            </ion-item>
                            <ion-item class="item item-input">
                                <span class="input-label bold">Descripción:</span>
                                <input type="text" class="deshabilitado" ng-value="encuentro.descripcion"
                                       ng-disabled="true"
                                       style="font-size: 1em;">
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Equipos" icon-on="ion-ios-people" icon-off="ion-ios-people">
                <ion-nav-view>
                    <ion-content class="animated bounceInRight">
                        <ion-list class="card" ng-cloak>
                            <ion-item class="item item-dark">
                                Equipos Participantes
                            </ion-item>
                            <ion-item class="item item" ng-repeat="equipo in encuentro.equipos">
                                {{equipo.nombre}}
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>

            <ion-tab title="Resultados" icon-on="ion-clipboard" icon-off="ion-clipboard">
                <ion-nav-view>
                    <ion-content class="animated bounceInRight">
                        <ion-list class="card" ng-if="encuentro.resultados && encuentro.resultados.length > 0" ng-cloak>
                            <ion-item class="item item-dark">
                                Scoreboard
                            </ion-item>
                            <ion-item class="item score-header">
                                <a class="col-50 positive-900">
                                    Equipo
                                </a>
                                <a class="positive-900 pull-right" ng-if="tienePuntajes">
                                    Puntaje
                                </a>
                            </ion-item>
                            <ion-item class="item" ng-if="!tienePuntajes" ng-repeat="resultado in encuentro.resultados | orderBy: 'posicion'">
                                <span class="col-60">{{resultado.posicion}}&nbsp; - &nbsp;{{resultado.equipo.nombre}}</span>
                            </ion-item>
                            <ion-item class="item" ng-if="tienePuntajes" ng-repeat="resultado in encuentro.resultados | orderBy: '-puntaje'">
                                <span class="col-50 score-item">{{resultado.equipo.nombre}}</span>
                                <span class="pull-right" ng-if="tienePuntajes">{{resultado.puntaje}}</span>
                            </ion-item>
                        </ion-list>
                        <ion-list class="card" ng-if="encuentro.resultados == null  && terminoEncuentro" ng-cloak>
                            <ion-item class="item item-dark">
                                Resultados
                            </ion-item>
                            <ion-item>
                                <ion-item class="item item-icon-left assertive">
                                    <i class="icon ion-android-warning"></i>&nbsp;No
                                    dispones de resultados
                                </ion-item>
                                <ion-item class="item text-center">
                                    <button class="button button-block button-positive" ng-if="!encuentro.resultados"
                                            ng-click="goAltaResultado()">Cargar resultados
                                    </button>
                                </ion-item>
                            </ion-item>
                        </ion-list>
                        <ion-list class="card" ng-if="!terminoEncuentro && !encuentro.resultados">
                            <ion-item class="item item-dark">
                                Resultados
                            </ion-item>
                            <ion-item>
                                <ion-item class="item item-icon-left assertive">
                                    <i class="icon ion-android-warning"></i>&nbsp;El encuentro no ha finalizado.
                                </ion-item>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>