<ion-view view-title="Encuentros">
    <ion-content>
        <ion-list class="card  animated bounceInRight" ng-if="tieneEncuentros == true">
            <div class="item item-icon-left" ng-repeat="encuentro in encuentros" ng-click="goToEncuentro(encuentro)">
                <i class="icon ion-ribbon-a energized"></i>
                <h2>{{encuentro.nombre}}</h2>
                <p>Comienza: &nbsp;  {{encuentro.fecha | date: dateTimeFormat}}</p>
                <p>Termina: &nbsp; {{encuentro.fechafin | date: dateTimeFormat}}</p>
            </div>
        </ion-list>

        <ion-list class="card" ng-if="tieneEncuentros == false">
            <div class="item text-center assertive">No tienes encuentros</div>
        </ion-list>

    </ion-content>

</ion-view>