<ion-view view-title="Novedades">
    <ion-content>
        <ion-list class="card animated lightSpeedIn">
            <ion-item class="item item-icon-right" ng-repeat="novedad in novedades">
                <i class="icon ion-trash-a" ng-click="deleteNovedad(novedad)"></i>
                <h2>{{novedad.titulo}}</h2>
                <p>{{novedad.fecha | date: dateTimeFormat}}</p>
            </ion-item>
            <ion-item class="item item-icon-left assertive" ng-if="tieneNovedades == false">
                <i class="icon ion-android-warning"></i>No existen novedades.
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>